/*GAME SELECTOR CSS*/
:root {
    /*icon variables*/
    --icon-height: 230px;
    --icon-padding: 7px;
}

#GameSelect {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;

    
    background: linear-gradient(180deg, rgba(46,24,47,1) 0%, rgba(93,47,94,1) 100%);
}    


/*GAME PREVIEW*/
#GamePreview {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 5vh;
}

#PreviewArea {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 70%;
}

#PreviewArea h2 {
    text-align: center;
    color: white;
    text-transform: uppercase;

    margin: 0px 85px;

    font-size: 25px;

    position: relative;
    top: -20px;

    margin-bottom: 16px;
}

.game-logo {
    height: 300px;
}

#GameActions {
    display: flex;
    flex-direction: row;
}


/*GAME CAROUSEL*/
#GameCarousel {
    width: 100%; /*sizing*/

    /*positioning*/
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: left;

    position: fixed;
    bottom: 0px;

    padding: var(--icon-padding);

    overflow-x: scroll;
}

#GameCarousel::-webkit-scrollbar { /*remove scrollbar*/
    display: none;
}

#CarouselBackground { /*Provide background to carousel*/
    width: 100%;
    height: calc(var(--icon-height) + 4*var(--icon-padding));

    background-color: rgba(255, 255, 255, 0.2);

    box-shadow: 0px -4px 19px 0px rgb(0, 0, 0, 0.15);
}


/*GAME ICONS*/
.game-icon {
    aspect-ratio: 1/1;
    height: var(--icon-height);

    transition: all 0.3s ease; /*transition properties, smooth transition*/

    margin: var(--icon-padding);
}

.game-icon-hover:hover {
    height: calc(var(--icon-height)*1.1);
    border: 3px solid white;
}

.game-icon img {
    width: 100%;
    height: 100%;
}

.game-icon-active {
    height: calc(var(--icon-height)*1.1);
    border: 3px solid white;
}



/*GAME PLACEHOLDER AND MENU*/
#PreviewPlaceholder {
    --base-spacing: 350px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: white;

    width: 100%;
    height: 100%;

    position: relative;
}

#appLogo {
    width: 350px;
    position: absolute;
    top: 80px;
}

#placeholderMenu {
    height: auto;
    width: 100%;

    z-index: 10;

    /*flex settings*/
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    gap: 20px;
}

.placeholder-menu-column {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.column1 {
    gap: var(--base-spacing);
}

.column2 {
    gap: calc(var(--base-spacing) + 100px);
}

.menu-item {
    /* --middle-spacing: 230px; */
    
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100px;
    width: 300px;

    cursor: pointer;
}

.menu-item-left {
    justify-content: flex-end;
    /* margin-right: var(--middle-spacing); */
}

.menu-item-right {
    justify-content: flex-start;
    padding-left: 15px;

}

.menu-item h3 {
    text-wrap: nowrap;
}

.menu-item:hover {
    text-shadow: rgba(245,245,245,0.9) 0px 0px 20px;
    color: white;
    transition: all 0.3s ease;
}





