/*
    GAME SCREEN GENERAL CSS
*/
:root {
    --GameScreenBottom: 65px;
    --GameScreenTop: 30px;
    --finishLineWidth: 100px;
}

#ddGameScreen {
    background: linear-gradient(180deg, #0b3728 0%, #0b7c5c 50%);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: var(--GameScreenTop);
    padding-bottom: var(--GameScreenBottom);
}

/*
    ROUND COUNTER
*/
#ddRoundCounter {
    --roundCounter-height: 20px;
    
    width: 50%;
    height: var(--roundCounter-height);

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5%;

    flex-shrink: 0;

    padding-top: 10px;
    padding-bottom: 30px;
}

.dd-round {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;

    border: 2px solid white;

    transition: background-color 0.3s;

    box-sizing: border-box;
}

.dd-round-active {
    background-color: white;
}


/*
    TEAM PLAYER ZONE
*/
#teamPlayZone {
    height: 80%;
    
    width: 100%;
    padding-right: calc(var(--borderMargin) + var(--finishLineWidth));
    
    margin-bottom: var(--GameScreenBottom);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;

    box-sizing: border-box;
}

.team-zone {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.dd-team-icon {
    height: 70%;
    position: relative;
    width: 20%;
    /* background-color: green; */

    display: flex;
    flex-direction: row;
    justify-content: center;

    box-sizing: border-box;

    padding-left: 80px;
}

.donkey-run {
    height: 100%;
    width: 80%;
    overflow-x: visible;
}

@keyframes donkeyMove {
    0% { x: 0%; }
    100% { x: 100%; }
}

.donkey-track g {
    transition: transform 1s;
}

.donkey-track text {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2em;
    fill: white;
}



/*
    FINISH LINE
*/
#finishLine {
    height: calc(100% - 2 * var(--borderMargin));
    width: var(--finishLineWidth);

    position: absolute;
    right: var(--borderMargin);
    top: 0;

    padding-top: var(--borderMargin);
    padding-bottom: var(--borderMargin);
}

#finishLine img {
    height: 100%;
    width: 100%;
    object-fit: fill;

    mix-blend-mode: lighten;

    opacity: 0.8;
}
