
#ddControlWindow {
    background: linear-gradient(180deg, #0b3728 0%, #0b7c5c 50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
    SCORE ENTRY
*/
#ddScoreEntry {
    height: 200px;
    width: 80%;

    display: flex;
    flex-direction: row;

    justify-content: space-between;

    align-items: center;
}