:root {
    --keyboard-row-size: 65px;
    --special-row-separation: 15px;
}

#keyboard {
    list-style-type: none;
    z-index: 10;
}

.non-focusable {
    pointer-events: auto;
    user-select: none;
}

.keyboard-row {
    list-style-type: none;
    height: var(--keyboard-row-size);

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7px;
}

#numberRow {
    padding-bottom: 15px;
}

#spacebarRow {
    padding-top: 20px;
}

.keyboard-key {
    height: 100%;
    
    border-radius: var(--keyboard-row-size);

    margin: 0px;
    padding: 0px;

    cursor: pointer;

    /*text settings*/
    line-height: 1;
    color: white;
    font-size: 22px;

    border: 3px solid white;

    transition: all 1ms;

    user-select: none;
}

.keyboard-key:active {
    background-color: rgba(255, 255, 255);
}


.char-key {
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*Special Character Types*/
.Enter {
    aspect-ratio: 1.8/1;
    text-align: right;
}

.Backspace {
    aspect-ratio: 1.5/1;
    text-align: right;
}

.Space {
    aspect-ratio: 10/1;
}

.CapsLock {
    width: auto;
}

.special-key {
    display: flex;
    align-items: center;
}

.special-key p {
    padding: 0px 15px;
    flex-grow: 1;
}