body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

@font-face {
  font-family: 'Neufreit';
  src: url('./assets/fonts/Neufreit-ExtraBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

body h2 {
  font-family: 'Neufreit', sans-serif;
  font-weight: bold;
  color: white;
}
